*,*::after,*::before{
    box-sizing: border-box; 

}

body{
    padding: 0 2rem;
}

.navimghover:hover{
    transform: scale(1.05);
    transition: transform 0.2s;
    cursor: pointer;
}
.navlogohover{
    cursor: pointer;

}
.page-link{
/* color: rgb(112, 112, 112); */
color: rgb(255, 255, 255);
height: 3rem;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(37, 37, 37);
border: none; 

}
.sidecursorpoint{
    cursor: pointer;
}